# Виртуальные окружения
.venv/
venv/
env/

# Результаты сборки (самое тяжелое здесь!)
build/
dist/
*.spec

# Python кеш
__pycache__/
*.py[cod]
*$py.class

# Базы данных и логи
*.db
*.log
audaci_crash.log
model/
# Системные файлы
.DS_Store
Thumbs.db

# Локальные скрипты и пакеты
make_release.sh
build_deb/

check_tags.py
test_forgotten.py
a.txt